body {
  background-color: #eaf6f6;
}
hr{
  border-style : none;
  border-top-style: dotted;
  border-color : #bbbfca;
  border-width : 8px;
  width: 8%;
}
h1,h3 {
  color: #66bfbf;
}
.marypic{
  border-radius: 100%
}
